@media screen and (max-width: 1200px) {

    html {
        font-size: 12px;
    }
}

@media screen and (max-width:992px) {

    html {
        font-size: 10px;
    }

    main {
        height: 80vh;
        width: 80vw;
    }

    main > nav {
        left: 12vw;
    }


    #home > .greetings {
        width: 21rem;
        margin-left: calc(2.9rem + 4vw);
    }
    
    .greetings h2 {
        font-size: 3rem;
    }

    section > h1 {
        font-size: 3rem;
    }

    #home > .portrait {
        height: 80vh;
    }


    .wrapper label {
        width: 3rem;
    }

    .wrapper label:after {
        top: -40%;
        left: -10%;
        height: 1.8rem;
        width: 3.6rem;
    }
}

@media screen and (max-width:768px) {

    section > h1 {
        font-size: 2rem;
    }

    #about-me > h3 {
        font-size: 1.25rem;
    }


    #portfolio .wrapper {
        height: 40vh;
        width: 40vw;
    }
}

@media (orientation: portrait) {
    
    * {
        min-width: initial !important;
        min-height: initial !important;
    }

    main {
        rotate: 90deg;

        height: 80vw;
        width: 80vh;
    }

    main > nav {
        top: 15vw;
        left: 2vh;
        height: 50vw;
    }


    main > section:not(#home) {
        padding: 5vw 5vh 5vw calc(2.9rem + 4vh);
        background-color: var(--background-color);
    }

    section#home {
        column-gap: 5vh;
    }

    #home > .greetings {
        margin-left: calc(2.9rem + 4vh);
    }

    #home > .portrait {
        height: 80vw;
        width: 40vh;
        background-size: max(calc(90vw * 677/901), 40vh) max(90vw, calc(40vh * 901/677));
    }


    #resume > div {
        column-gap: 2vh;
    }

    #resume .logo-resume * {
        height: 8vmin;
        width: 8vmin;
    }


    #portfolio .wrapper {
        height: 40vw;
        width: 40vh;
    }


    #contacts .phone-logo, #contacts .email-logo {
        width: 10vmin;
        height: 10vmin;
    }
}