@media screen and (max-width: 1200px) {

    html {
        font-size: 12px;
    }
}

@media screen and (max-width:992px) {

    html {
        font-size: 10px;
    }

    main {
        height: 80vmin;
        width: 80vmax;
    }

    main > nav {
        left: 12vw;
    }


    #home > .greetings {
        width: 21rem;
    }
    
    .greetings h2 {
        font-size: 3rem;
    }

    section > h1 {
        font-size: 3rem;
    }

    #home > .portrait {
        height: 80vmin;
    }


    .wrapper label {
        width: 3rem;
    }

    .wrapper label:after {
        top: -40%;
        left: -10%;
        height: 1.8rem;
        width: 3.6rem;
    }
}

@media screen and (max-width:768px) {

    section > h1 {
        font-size: 2rem;
    }

    #about-me > h3 {
        font-size: 1.25rem;
    }


    #portfolio .wrapper {
        height: 40vmin;
        width: 40vmax;
    }
}

@media (orientation: portrait) {
    
    * {
        min-width: initial !important;
        min-height: initial !important;
    }

    main {
        rotate: 90deg;
    }

    main > nav {
        top: 15vw;
        left: 2vh;
    }


    #home > .portrait {
        background-size: max(calc(90vw * 677/901), 40vh) max(90vw, calc(40vh * 901/677));
    }


    #resume .logo-resume * {
        height: 8vmin;
        width: 8vmin;
    }


    #contacts .phone-logo, #contacts .email-logo {
        width: 10vmin;
        height: 10vmin;
    }
}